<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Key" label-placement="floating" [(ngModel)]="myKey"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Value" label-placement="floating" [(ngModel)]="myValue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="block" (click)="set()">Set</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
